@{
    ViewData["Title"] = "Master Tipe Kendaraan";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
{
        new SelectListItem((string)ViewData["Title"]!, "active")
    };
}

<div class="card" id="table_Model">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_Model.openModal('POST')"></a>
                <a class="list-icons-item" data-action="filter" data-toggle="collapse" href="#collapseFilter_table_Model"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_Model.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form collapse show" id="collapseFilter_table_Model">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" data-itable-filter="Filter" placeholder="Cari" class="form-control" value="" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select type="text" data-itable-filter="Jenis" placeholder="Jenis" class="form-control" onchange="itable_Model.refresh();">
                        <option>Mobil</option>
                        <option>Motor</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select type="text" data-itable-filter="Merek" placeholder="Merek" class="form-control" onchange="itable_Model.refresh();"></select>
                </div>
            </div>
        </div>
        <input type="submit" class="d-none" />
    </form>
    <div class="datatable-scroll">
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-dark text-light">
                    <th class="sorting text-left" data-itable-sorting="1">Merek</th>
                    <th class="sorting text-left" data-itable-sorting="2">Tipe</th>
                    <th class="sorting text-center" data-itable-sorting="3">Transmisi</th>
                    <th class="sorting text-right" data-itable-sorting="4">Harga</th>
                    <th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    let itable_Model;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_Model = new iTable({
            id: 'table_Model',
            url: '@Url.Action("Datas")',
            urlType:{
                DELETE : '@Url.Action("Data")'
            },
            orderBy: 1,
            success: (r, t) => {
                let tbody = '';
                if (r.datas.length === 0) tbody += t.trempty();
                const verificationToken = $(t.id + ' form [name="__RequestVerificationToken"]').val();
                $.each(r.datas, (i, v) => {
                    tbody += '<tr>';

                    // JS Columns
                    tbody += `<td class="text-left">${v.id_MerekKendaraan_Text}</td>`;
                    tbody += `<td class="text-left">${v.nama}</td>`;
                    tbody += `<td class="text-center">${v.transmisi}</td>`;
                    tbody += `<td class="text-right">${floatToCurrency(v.harga)}</td>`;
                    // ----- JS Columns

                    tbody += '<td class="text-center">';
                    tbody += '<div class="list-icons">';
                    tbody += '<div class="dropdown">';
                    tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                    tbody += '<div class="dropdown-menu dropdown-menu-right">';

                    // JS Action
                    tbody += `<a class="dropdown-item" href="javascript:isetup_Model.openModal('GET',{ Id : '${v.id}' })"><i class="icon-eye"></i> Details</a></li>`;
                    tbody += `<a class="dropdown-item" href="javascript:isetup_Model.openModal('PUT',{ Id : '${v.id}' })"><i class="icon-pencil"></i> Edit</a></li>`;
                    tbody += `<a class="dropdown-item" href="javascript:itable_Model.delete({ Id : '${v.id}', __RequestVerificationToken : '${verificationToken}' }, itable_Model)"><i class="icon-trash"></i> Delete</a></li>`;

                    // ----- JS Columns

                    tbody += '</div>';
                    tbody += '</div>';
                    tbody += '</div>';
                    tbody += '</td>';
                    tbody += '</tr>';
                });
                $(t.id).find('tbody').html(tbody);
                t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
            }
        });

        mahasSelect2($(`${itable_Model.id} [data-itable-filter="Merek"]`), '@Url.Action("Select2_MerekKendaraan")');
        itable_Model.refresh();
    });
</script>

<partial name="Setup" />